streamlit
langchain
langchain-google-genai
langchain-experimental
beautifulsoup4
pypdfium2
requests
faiss-cpu
numpy
unstructured[docx]
pysqlite3-binary
langchain-chroma
langchain-openai
openai
google-generativeai